{# -------------- Formular Antwortseite -------------- #}
{% set submission = wheelform.lastSubmission %}
{% set vorname = '' %}
{% set nachname = '' %}
{% if submission %}
{% for field in submission.fields %}
  {% if field.name == 'vorname' %}
      {% set vorname = field.value %}
  {% endif %}
  {% if field.name == 'nachname' %}
      {% set nachname = field.value %}
  {% endif %}
{% endfor %}
{% else %}
  {% set formReferrer = craft.app.request.referrer %}
  {% if formReferrer is not null %}
      {#
      {% redirect formReferrer %}
      #}
  {% endif %}
{% endif %}

{% set antwortHeadline = craft.wul.findReplaceElementRemoveSpaces(block.headline) %}
{% set antwortText = craft.wul.findReplaceElementRemoveSpaces(block.text) %}
{% set antwortHeadline = antwortHeadline|replace({'[[vorname]]': vorname}) %}
{% set antwortHeadline = antwortHeadline|replace({'[[nachname]]': nachname}) %}
{% set antwortText = antwortText|replace({'[[vorname]]': vorname}) %}
{% set antwortText = antwortText|replace({'[[nachname]]': nachname}) %}
<section class="wl-wrapper-outer modul-formularAntwort">
    <section class="wl-wrapper">
        <div class="content-grid-12">
            <div class="modul-formular-antwor-body text">
                <h2>{{ antwortHeadline|raw  }}</h2>
                {{ antwortText|raw }}
            </div>
        </div>
    </section>
</section>
