<div class="anchor" id="{{ 'anker' ~ blockid }}"></div>
<section class="wrapper-outer modul-kontaktformular">

    <section class="wl-wrapper" data-myFormular>

        <div class="content-grid-12">

                <div class="formularContainer">

                    {% set formularId = block.formularAuswahl.id %}
                    {% set formularAntwortUrl = '' %}
                    {% set isFormularAntwortUrl = block.antwortSeite|default(false) %}
                    {% if isFormularAntwortUrl %}
                        {% set formularAntwortUrl = block.antwortSeite.one().getUrl() %}
                    {% endif %}
                    {% set formTempl = 'id-' ~ formularId %}

                    {% switch formularId %}
                    {% case 1 %}
                        {% include '_include-vendor/formular_id-1-u-2' with {formularId: formularId, formularAntwortUrl: formularAntwortUrl} %}
                    {% case 2 %}
                        {% include '_include-vendor/formular_id-1-u-2' with {formularId: formularId, formularAntwortUrl: formularAntwortUrl} %}
                    {% endswitch %}

                </div>

                <div class="textContainer text">
                    {{ block.textRechts }}
                </div>
        <div>

    </section>

</section>