<div class="anchor" id="{{ 'anker' ~ blockid }}"></div>
<section class="wrapper-outer modul-kontaktformular">

    <section class="wl-wrapper" data-myFormular>

        {% set formularId = block.formularAuswahl.id %}
        {% set formularAntwortUrl = '' %}
        {% set isFormularAntwortUrl = block.antwortSeite|default(false) %}
        {% if isFormularAntwortUrl %}
            {% set formularAntwortUrl = block.antwortSeite.one().getUrl() %}
        {% endif %}
        {% set formTempl = 'id-' ~ formularId %}

        {% switch formularId %}
        {% case 1 %}
            {% include '_include-vendor/formular_' ~ formTempl with {formularId: formularId, formularAntwortUrl: formularAntwortUrl} %}
        {% endswitch %}

    </section>

</section>