{# -------------- Macro -------------- #}
{% import "_include-core/macros.twig" as _self %}
{# ###################################################################################################### #}
 {% set image  = block.teaserImage.one()|default(false) %}
        {% set settings = {
            '0-750' : {
                'size' : '530x298',
                'mode' : 'crop'
            },
            '0-500' : {
                'size' : '343x193',
                'mode' : 'crop'
            }
        } %}
{# ###################################################################################################### #}

<div class="anchor" id="{{ 'anker' ~ blockid }}"></div>
<section class="wrapper-outer modul-textLinks">
    <section class="wl-wrapper">

            <div class="content-grid-12">
                    <div class="textLinks modulBg">

                        {% set headline = block.headline|default(false) %}
                        {% if headline %}
                            <div class="textLinksHeadline">
                                <h2>{{ headline }}</h2>
                            </div>

                            {% set text = block.text|default(false) %}
                            {% if text %}
                                <div class="textLinksFliesstext text">
                                    {{ text }}
                                </div>
                            {% endif %}

                        {% endif %}

                    </div>

                <div class="kreiseRechts">

                    <div class="kreise">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 221 221">
                            <g id="Gruppe_10326" data-name="Gruppe 10326" transform="translate(17384.5 -18160.5)">
                                <path id="Ellipse_103" data-name="Ellipse 103" d="M26.962.759a26.4,26.4,0,0,0-5.282.532,26.055,26.055,0,0,0-9.368,3.942A26.281,26.281,0,0,0,2.818,16.763,26.065,26.065,0,0,0,1.292,21.68a26.465,26.465,0,0,0,0,10.563,26.055,26.055,0,0,0,3.942,9.368,26.281,26.281,0,0,0,11.529,9.494,26.065,26.065,0,0,0,4.917,1.526,26.465,26.465,0,0,0,10.563,0,26.055,26.055,0,0,0,9.368-3.942,26.281,26.281,0,0,0,9.494-11.529,26.065,26.065,0,0,0,1.526-4.917,26.465,26.465,0,0,0,0-10.563,26.055,26.055,0,0,0-3.942-9.368A26.281,26.281,0,0,0,37.161,2.818a26.065,26.065,0,0,0-4.917-1.526A26.4,26.4,0,0,0,26.962.759m0-.759A26.962,26.962,0,1,1,0,26.962,26.962,26.962,0,0,1,26.962,0Z" transform="translate(-17300.963 18244.037)" fill="#eba41d"/>
                                <path id="Ellipse_103_-_Kontur" data-name="Ellipse 103 - Kontur" d="M26.962-.5a27.469,27.469,0,0,1,10.69,52.766A27.469,27.469,0,0,1,16.272,1.658,27.29,27.29,0,0,1,26.962-.5Zm0,53.165a25.9,25.9,0,0,0,5.181-.522,25.554,25.554,0,0,0,9.188-3.867,25.781,25.781,0,0,0,9.314-11.309,25.563,25.563,0,0,0,1.5-4.823,25.965,25.965,0,0,0,0-10.363,25.555,25.555,0,0,0-3.867-9.188A25.781,25.781,0,0,0,36.966,3.279a25.564,25.564,0,0,0-4.823-1.5,25.965,25.965,0,0,0-10.363,0,25.555,25.555,0,0,0-9.188,3.867A25.781,25.781,0,0,0,3.279,16.958a25.563,25.563,0,0,0-1.5,4.823,25.965,25.965,0,0,0,0,10.363,25.555,25.555,0,0,0,3.867,9.188,25.781,25.781,0,0,0,11.309,9.314,25.564,25.564,0,0,0,4.823,1.5A25.9,25.9,0,0,0,26.962,52.665Z" transform="translate(-17300.963 18244.037)" fill="#eba41d"/>
                                <g id="Gruppe_102" data-name="Gruppe 102" opacity="0.6">
                                    <path id="Ellipse_102" data-name="Ellipse 102" d="M42.658.759a42.213,42.213,0,0,0-8.445.851,41.665,41.665,0,0,0-14.981,6.3A42.023,42.023,0,0,0,4.052,26.35a41.683,41.683,0,0,0-2.441,7.864,42.315,42.315,0,0,0,0,16.89,41.665,41.665,0,0,0,6.3,14.981A42.023,42.023,0,0,0,26.35,81.265a41.683,41.683,0,0,0,7.864,2.441,42.315,42.315,0,0,0,16.89,0,41.665,41.665,0,0,0,14.981-6.3A42.023,42.023,0,0,0,81.265,58.967,41.683,41.683,0,0,0,83.706,51.1a42.315,42.315,0,0,0,0-16.89,41.665,41.665,0,0,0-6.3-14.981A42.023,42.023,0,0,0,58.967,4.052,41.683,41.683,0,0,0,51.1,1.611,42.213,42.213,0,0,0,42.658.759m0-.759A42.658,42.658,0,1,1,0,42.658,42.658,42.658,0,0,1,42.658,0Z" transform="translate(-17316.658 18228.342)" fill="#eba41d"/>
                                    <path id="Ellipse_102_-_Kontur" data-name="Ellipse 102 - Kontur" d="M42.658-.5a43.169,43.169,0,0,1,16.8,82.925,43.169,43.169,0,0,1-33.6-79.533A42.889,42.889,0,0,1,42.658-.5Zm0,84.557A41.711,41.711,0,0,0,51,83.216a41.165,41.165,0,0,0,14.8-6.228,41.523,41.523,0,0,0,15-18.215A41.182,41.182,0,0,0,83.216,51a41.816,41.816,0,0,0,0-16.689,41.165,41.165,0,0,0-6.228-14.8,41.523,41.523,0,0,0-18.215-15A41.181,41.181,0,0,0,51,2.1a41.815,41.815,0,0,0-16.689,0,41.165,41.165,0,0,0-14.8,6.228,41.523,41.523,0,0,0-15,18.215A41.183,41.183,0,0,0,2.1,34.314,41.815,41.815,0,0,0,2.1,51,41.165,41.165,0,0,0,8.329,65.8a41.523,41.523,0,0,0,18.215,15,41.183,41.183,0,0,0,7.769,2.412A41.711,41.711,0,0,0,42.658,84.057Z" transform="translate(-17316.658 18228.342)" fill="#eba41d"/>
                                </g>
                                <g id="Gruppe_101" data-name="Gruppe 101" opacity="0.4">
                                    <path id="Ellipse_101" data-name="Ellipse 101" d="M67.721.759a67.461,67.461,0,0,0-13.5,1.36A66.591,66.591,0,0,0,30.283,12.2,67.16,67.16,0,0,0,6.021,41.657a66.621,66.621,0,0,0-3.9,12.568,67.623,67.623,0,0,0,0,26.992A66.591,66.591,0,0,0,12.2,105.16a67.159,67.159,0,0,0,29.462,24.262,66.622,66.622,0,0,0,12.568,3.9,67.622,67.622,0,0,0,26.992,0,66.592,66.592,0,0,0,23.943-10.075,67.159,67.159,0,0,0,24.262-29.462,66.621,66.621,0,0,0,3.9-12.568,67.622,67.622,0,0,0,0-26.992,66.592,66.592,0,0,0-10.075-23.943A67.16,67.16,0,0,0,93.786,6.021a66.621,66.621,0,0,0-12.568-3.9,67.461,67.461,0,0,0-13.5-1.36m0-.759A67.721,67.721,0,1,1,0,67.721,67.721,67.721,0,0,1,67.721,0Z" transform="translate(-17341.723 18203.277)" fill="#eba41d"/>
                                    <path id="Ellipse_101_-_Kontur" data-name="Ellipse 101 - Kontur" d="M67.721-.5a67.905,67.905,0,0,1,38.144,11.651,68.42,68.42,0,0,1,24.716,30.015,68.132,68.132,0,0,1-6.29,64.7,68.419,68.419,0,0,1-30.015,24.716,68.132,68.132,0,0,1-64.7-6.29A68.419,68.419,0,0,1,4.861,94.277a68.132,68.132,0,0,1,6.29-64.7A68.419,68.419,0,0,1,41.166,4.861,67.8,67.8,0,0,1,67.721-.5Zm0,134.683a66.961,66.961,0,0,0,13.4-1.35,66.092,66.092,0,0,0,23.763-10,66.659,66.659,0,0,0,24.081-29.242,66.12,66.12,0,0,0,3.872-12.474,67.123,67.123,0,0,0,0-26.791,66.092,66.092,0,0,0-10-23.763A66.66,66.66,0,0,0,93.591,6.482,66.117,66.117,0,0,0,81.117,2.61a67.121,67.121,0,0,0-26.791,0,66.092,66.092,0,0,0-23.763,10A66.66,66.66,0,0,0,6.482,41.852,66.117,66.117,0,0,0,2.61,54.326a67.121,67.121,0,0,0,0,26.791,66.092,66.092,0,0,0,10,23.763,66.659,66.659,0,0,0,29.242,24.081,66.12,66.12,0,0,0,12.474,3.872A66.961,66.961,0,0,0,67.721,134.183Z" transform="translate(-17341.723 18203.277)" fill="#eba41d"/>
                                </g>
                                <g id="Gruppe_100" data-name="Gruppe 100" opacity="0.2">
                                    <path id="Ellipse_100" data-name="Ellipse 100" d="M110,.759a111,111,0,0,0-11.17.564A109.515,109.515,0,0,0,87.983,2.979C84.464,3.7,80.942,4.6,77.515,5.671c-3.389,1.054-6.765,2.29-10.036,3.673A109.561,109.561,0,0,0,9.344,67.479C7.96,70.749,6.725,74.126,5.671,77.515,4.6,80.942,3.7,84.464,2.979,87.983A109.515,109.515,0,0,0,1.324,98.83a110.89,110.89,0,0,0,0,22.34,109.515,109.515,0,0,0,1.655,10.846c.72,3.519,1.626,7.041,2.692,10.468,1.054,3.389,2.29,6.765,3.673,10.036a109.561,109.561,0,0,0,58.135,58.135c3.271,1.383,6.647,2.619,10.036,3.673,3.427,1.066,6.949,1.972,10.468,2.692a109.5,109.5,0,0,0,10.846,1.655,110.89,110.89,0,0,0,22.34,0,109.5,109.5,0,0,0,10.846-1.655c3.519-.72,7.041-1.626,10.468-2.692,3.389-1.054,6.765-2.29,10.036-3.673a109.561,109.561,0,0,0,58.135-58.135c1.383-3.271,2.619-6.647,3.673-10.036,1.066-3.427,1.972-6.949,2.692-10.468a109.5,109.5,0,0,0,1.655-10.846,110.89,110.89,0,0,0,0-22.34,109.5,109.5,0,0,0-1.655-10.846c-.72-3.519-1.626-7.041-2.692-10.468-1.054-3.389-2.29-6.765-3.673-10.036A109.561,109.561,0,0,0,152.521,9.344c-3.271-1.383-6.647-2.619-10.036-3.673C139.058,4.6,135.536,3.7,132.016,2.979A109.515,109.515,0,0,0,121.17,1.324,111,111,0,0,0,110,.759M110,0A110,110,0,1,1,0,110,110,110,0,0,1,110,0Z" transform="translate(-17384 18161)" fill="#eba41d"/>
                                    <path id="Ellipse_100_-_Kontur" data-name="Ellipse 100 - Kontur" d="M110-.5a111.314,111.314,0,0,1,22.269,2.245,109.9,109.9,0,0,1,39.513,16.627,110.821,110.821,0,0,1,40.034,48.616,109.946,109.946,0,0,1,6.439,20.743,111.571,111.571,0,0,1,0,44.538,109.9,109.9,0,0,1-16.627,39.513,110.821,110.821,0,0,1-48.616,40.034,109.946,109.946,0,0,1-20.743,6.439,111.571,111.571,0,0,1-44.538,0,109.9,109.9,0,0,1-39.513-16.627A110.821,110.821,0,0,1,8.184,153.012a109.948,109.948,0,0,1-6.439-20.743,111.573,111.573,0,0,1,0-44.538A109.9,109.9,0,0,1,18.372,48.218,110.821,110.821,0,0,1,66.988,8.184,109.949,109.949,0,0,1,87.731,1.745,111.314,111.314,0,0,1,110-.5Zm0,219.24a110.5,110.5,0,0,0,11.12-.561,108.992,108.992,0,0,0,10.8-1.648c3.5-.717,7.009-1.618,10.42-2.679,3.373-1.049,6.734-2.279,9.99-3.656A109.061,109.061,0,0,0,210.2,152.326c1.377-3.256,2.607-6.617,3.656-9.99,1.061-3.411,1.962-6.917,2.679-10.42a108.992,108.992,0,0,0,1.648-10.8,110.391,110.391,0,0,0,0-22.239,108.985,108.985,0,0,0-1.648-10.8c-.717-3.5-1.618-7.009-2.679-10.42-1.049-3.373-2.279-6.734-3.656-9.99A109.061,109.061,0,0,0,152.326,9.8c-3.256-1.377-6.617-2.607-9.99-3.656-3.412-1.061-6.917-1.963-10.42-2.679a109.013,109.013,0,0,0-10.8-1.648,110.388,110.388,0,0,0-22.239,0,109.005,109.005,0,0,0-10.8,1.648c-3.5.717-7.009,1.618-10.42,2.679C74.29,7.2,70.929,8.427,67.674,9.8A109.061,109.061,0,0,0,9.8,67.674C8.427,70.929,7.2,74.29,6.148,77.663c-1.061,3.411-1.962,6.917-2.679,10.42a109.005,109.005,0,0,0-1.648,10.8,110.388,110.388,0,0,0,0,22.239,109.013,109.013,0,0,0,1.648,10.8c.717,3.5,1.618,7.009,2.679,10.42,1.049,3.373,2.279,6.734,3.656,9.99A109.061,109.061,0,0,0,67.674,210.2c3.256,1.377,6.617,2.607,9.99,3.656,3.411,1.061,6.917,1.962,10.42,2.679a108.985,108.985,0,0,0,10.8,1.648A110.5,110.5,0,0,0,110,218.74Z" transform="translate(-17384 18161)" fill="#eba41d"/>
                                </g>
                            </g>
                        </svg>
                    </div>

                </div>

            </div>

    </section>
</section>