{# -------------- Macro -------------- #}
{% import "_include-core/macros.twig" as _self %}
<div class="content-grid-12">
    <div class="header-body">

        <div class="nav-container">

            <div class="boxBody">

                <div class="boxBodyLeft">

                    <div class="boxLogo">
                        <div class="logoContainer">
                            <a class="logo" href="/">
                                <img src="/assets/images/img/logo-header.svg" height="300" width="43" alt="{{siteConfig.organization}}">
                            </a>
                        </div>
                    </div>


                    <div class="boxLanguage">
                        {{ lg }}
                        <div class="trenner">|</div>
                        {{ _self.switcherLinks() | trim | raw  }}
                    </div>

                </div>


                <div class="boxBodyRight">

                    <div class="boxMenue">

                        <div class="menueOuter">

                            {% include '_include-core/navigation' %}

                            <div class="mobile-nav-button mobile-nav-button-hover">
                                <div class="hamburger__container">
                                    <div class="clickAreaContainer">
                                        <div class="hamburger__inner"></div>
                                        <div class="hamburger__hidden"></div>
                                    </div>
                                </div>
                            </div>

                            <span class="textMenue">{{translation.translateMenue}}</span>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>


<script>
    // When the user scrolls down 50px from the top of the document, resize the header's font size
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            document.getElementById("header").style.fontSize = "30px";
        } else {
            document.getElementById("header").style.fontSize = "90px";
        }
    }
</script>