{# -------------- Macro -------------- #}
{% import "_include-core/macros.twig" as _self %}
<div class="content-grid-12">
    <div class="header-body">

        <div class="nav-container">

            <div class="boxBody">

                <div class="boxBodyLeft">
                    <a class="logo" href="/">
                        <img src="/assets/images/img/logo-header.svg" height="122" width="117" alt="{{siteConfig.organization}}">
                    </a>
                </div>


                <div class="boxBodyRight">

                    <div class="boxMenue">

                        <div class="menueOuter">
                            {% include '_include-core/navigation' %}
                        </div>

                        <div class="buttonNavigation buttonNavigationDesktop">
                            Händler finden
                        </div>

                    </div>

                    <div class="boxLanguage">
                        {{ lg }}
                        <div class="trenner">|</div>
                        {{ _self.switcherLinks() | trim | raw  }}
                    </div>

                    <div class="menu-toggle-container">
                        <div class="menu-toggle-wrapper menu-open">
                            <div class="menu-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>
</div>
