{% extends 'main' %}

{% block intro %}
<section class="wrapper-outer element-header">
  <section class="wl-wrapper">
        {% include ('_include-introblock-components/intromodul_produkt.twig')  %}
  </section>
</section>
{% endblock %}

{% block content %}
  {% set bilderMitZoomCounter = 0 %}
  {% if pageId == '' %}{% set entry = seite404 %}{% endif %}
  <section>
    {% set matrixElemente = entry.moduleProduktMatrix %}
    {% if matrixElemente is defined and matrixElemente %}
      {% set blockCounter = 0 %}
      {% for block in matrixElemente %}
        {% if block.type.handle != 'abstand' %}
          {% set blockCounter = blockCounter + 1 %}
        {% endif %}
        {% include ('_include-block-components/modul_' ~ block.type.handle) with {blockid: block.id, sectionname: entry.section.handle, pageid: entry.id, blockCounter: blockCounter, bilderMitZoomCounter: bilderMitZoomCounter }  %}
        {% if block.type.handle == 'bilderMitZoom' %}{% set bilderMitZoomCounter = bilderMitZoomCounter + 1 %}{% endif %}
      {% endfor %}
    {% endif %}

    {% if sectionName == 'produkt' %}
    <section class="blog-wrapper-outer modul-produktFilter teaserAusgabeZubehoerAbstandBottom" id="result">
      <div class="wl-wrapper">

        <div class="content-grid-12">
          {% set headline = translation.t_headlineTeaserZubehoer|default(false) %}
          {% if headline %}
            <div class="zubehoerHeadline">
              <h2>{{ headline }} {{ entry.auswahlKategorieProduktgruppe.one() }}</h2>
            </div>
          {% endif %}
        </div>

          <div class="content-grid-12">
            <div class="teaser-container" id="articles">
              <div class="result resultContainer">
                {% set output = entry.auswahlKategorieProduktgruppe.one().id %}{# auswahlKategorieProduktgruppeId #}
                {% include  '_ajax-feedback/produkt' with { block: '', output: output, pageid: '', sectionnamepage: sectionName, blockid: '' }  %}
              </div>
            </div>
          </div>
      </div>
    </section>
      <script>
        $(document).ready(function() {
          $('.article-item-js').matchHeight();
        });
      </script>
    {% endif %}

  </section>
{% endblock %}

{% block assetsHead %}
  {% if pageId == '' %}{% set entry = seite404 %}{% endif %}
  {% set assetsArr = {} %}
  {% set matrixElemente = entry.moduleProduktMatrix.all() %}
  {% if matrixElemente is defined and matrixElemente %}
    {# ---------------------------------------------------------------------------------------------------------------------------------- #}
    {% set counter = 0 %}
    {% set logoleisteSlider = 0 %}
    {% set bilderMitZoom = 0 %}
    {% set haendlerFilter = 0 %}
    {% for block in matrixElemente %}
      {# -------------------------------------------------------------------------------------------------------------------------------- #}
      {% if block.type.handle == 'haendlerFilter' %}
        {% set counter = counter + 1 %}
        {% if haendlerFilter == 0 %}
          {% set assetsArr = assetsArr|merge({ (counter)  :  '<script defer src="/assets/js/haendler-filter.min.js"></script>' }) %}
        {% endif %}
        {% set haendlerFilter = haendlerFilter + 1 %}
      {% endif %}
      {# -------------------------------------------------------------------------------------------------------------------------------- #}
      {% if block.type.handle == 'bilderMitZoom' %}
        {% set counter = counter + 1 %}
        {% if bilderMitZoom == 0 %}
          {% set assetsArr = assetsArr|merge({ (counter)  :  '<script type="text/javascript" src="/assets/js/fliplightbox.min.js"></script>' }) %}
        {% endif %}
        {% set bilderMitZoom = bilderMitZoom + 1 %}
      {% endif %}
      {# -------------------------------------------------------------------------------------------------------------------------------- #}
    {% endfor %}
  {% endif %}
  {# ===== AUSGABE ========== (Bei der Ausgabe werden doppelte Elemente im Array entfernt) ============================================== #}
  {% for element in assetsArr|reduce((unique, item) => item in unique ? unique : unique|merge([item]), []) %}

    {{ element|raw }}{% endfor %}
  {# ==================================================================================================================================== #}
{% endblock %}



