<div class="anchor" id="{{ 'anker' ~ blockid }}"></div>
<section class="wrapper-outer modul-youTube">
    <section class="wl-wrapper">
        <div class="video-container">
            <iframe
                    class="video"
                    src="{{ block.youTubeUrl }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope;"
                    allowfullscreen></iframe>
        </div>
    </section>
</section>

