.blog-detail {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  .blog-detail-inner {

      width: 70%;

      @include wl-breakpoint(900) {
        width: 80%;
      }
      @include wl-breakpoint(600) {
        width: 90%;
      }

      @include wl-breakpoint(400) {
        width: 100%;
      }

      .content-bild-box{
        width: 100%;

        &.bildabstand-oben{
          margin-top: 90px;
          @include wl-breakpoint($page-width) {
            margin-top: calc(40px + 2.5vw);
          }
          @include wl-breakpoint(900) {
            margin-top: calc(30px + 6vw);
          }
        }

        &.bildabstand-unten{
          margin-bottom: 90px;
          @include wl-breakpoint($page-width) {
            margin-bottom: calc(40px + 2.5vw);
          }
          @include wl-breakpoint(900) {
            margin-bottom: calc(30px + 6vw);
          }
        }

      }

      .content-bild{
        width: 100%;
        border-radius: 23px;
      }



    .blog-detail-backlink{
          margin-top: 70px;
          a{
            &.btn{
              @include btn(transparent, $wl-color-red, $wl-color-red, transparent, $wl-color-black, $wl-color-black);
            }
          }
        }




  }

}

