.masonry-grid{

  width: calc(100% + 1.5rem);
  @include wl-breakpoint(900) {
    width: 100%;
  }


  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 25;

  //++++++++++++++++++++++++++++++++++
  @include wl-breakpoint(900) {
    grid-column-start: 5;
    grid-column-end: 21;
  }
  //++++++++++++++++++++++++++++++++++
  @include wl-breakpoint(800) {
    grid-column-start: 4;
    grid-column-end: 22;
  }
  //++++++++++++++++++++++++++++++++++
  @include wl-breakpoint(700) {
    grid-column-start: 3;
    grid-column-end: 23;
  }
  //++++++++++++++++++++++++++++++++++
  @include wl-breakpoint(600) {
    grid-column-start: 2;
    grid-column-end: 24;
  }
  //++++++++++++++++++++++++++++++++++
  @include wl-breakpoint(500) {
    grid-column-start: 1;
    grid-column-end: 25;
  }

}

/*
******************************************
******************************************
*/


.masonryContainer {

  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;


  .item-content {
    width: 100%;
    background-color: #efe9e4;

    img {
      width: 100%;
    }

    .text {
      padding: 35px 15px 35px 15px;
    }

    .category-name {
      width: 100%;
      margin-bottom: 15px;
    }

    .text-content {
      width: 100%;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
    }

    .article-name {
      width: calc(100% - 2px);
      padding-top: 7px;
      padding-right: 10px;

      @include responsive-font(21px, 23px, $base-font-family-bold, $base-line-height);
      letter-spacing: 0.01em;
      color: $wl-color-orange;
    }

    .linkExtenRight {
      width: 2px;
    }

    .linkExtenTop {
      width: 100%;
      height: 2px;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: stretch;
      align-content: stretch;
    }

    .linkExtenTopActive {
      width: 18px;
      height: 2px;
      background-color: $wl-color-orange;
    }

    .linkExtenRightActive {
      width: 2px;
      height: 16px;
      background-color: $wl-color-orange;
    }

    .linkExtenTopActive, .linkExtenRightActive {
      display: none;

      &.showLinkExten {
        display: block;
      }
    }

  }

  .item {
    flex-direction: column;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: calc(25% - 1.5rem);
    @include wl-breakpoint(1400) {
      width: calc(33.3% - 1.5rem);
    }
    @include wl-breakpoint(1100) {
      width: calc(50% - 1.5rem);
    }
    @include wl-breakpoint(900) {
      width: 100%;
      margin-right: 0;
    }
    box-sizing: border-box;

  }

}