.modul-teaser-blog {

  .teaser-blog {



    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px 25px; /* vertikal | Horizontal  */

    @include wl-breakpoint(1300) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include wl-breakpoint(700) {
      grid-template-columns: repeat(1, 1fr);
    }


    .article-img{

      img{
        &.blog-teaser-img{
          width: 100%;
          border-top-left-radius: 23px;
          border-top-right-radius: 23px;
        }
      }

    }

    a{
      &.article-link{
        border-radius: 23px;
        cursor: pointer;
        text-decoration: none;


        &:hover {
          //background-color: $wl-color-tuerkisblau;
          //background: linear-gradient(to top, rgba(164, 217, 213, 0.5) 0%, rgba(164, 217, 213, 0.15) 50%);
          background: linear-gradient(to top, transparent 0%, rgba(164, 217, 213, 0.5) 50%);

          color: $wl-color-black;
        }
      }
    }

    .article-title{
      letter-spacing: 0.02em;
      @include responsive-font(22px, 36px, $base-font-family-bold, 1.2);
      margin-top: 40px;
      margin-bottom: 30px;
    }

    .article-text{
      padding-right: 10px;
      padding-left: 10px;
    }

    .article-btn{

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: stretch;

      margin-top: 40px;
      @include responsive-font(20px, 30px, $base-font-family-bold, 1.2);

      .article-button-arrow{
        margin-left: 10px;
      }


    }


  }

}

