
.accordionContent{
  margin-top: -26px;
}

.accordion {

    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    //row-gap: 30px;

    @include wl-breakpoint(800) {
      flex-direction: column;
    }

    /**
     ============================ Accordion Body ============================
     */

    .articleContainer {
      width: 100%;
    }

    /**
   ===================================================================================
   */

    $wl-arrow-position-top-max: 29;
    $wl-arrow-position-top-min: 29;

    $wl-arrow-position-top-hover-max: 26;
    $wl-arrow-position-top-hover-min: 26;

    $wl-arrow-position-right-max: 0;
    $wl-arrow-position-right-min: 0;

    /**
   ===================================================================================
   */

    /**
    Allgemein *********************************************************************************************************
     */

    ul.accordion-list {

      position: relative;
      display: block;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
      list-style: none;
      border-bottom: 2px solid $wl-color-blue;

      li {
        position: relative;
        display: block;
        width: 100%;
        height: auto;

        /* ---------------------------------------------------------------------------------------------------- */

        label {

          @include responsive-font(18px, 23px, $font-family-DINNextLTPro-bold, 1.34);

          color: $wl-color-black;
          padding-bottom: 20px;

          cursor: pointer;

          position: relative;
          display: block;
          width: 100%;
          height: auto;

          background-color: transparent;
          padding: 30px 40px 24px 0px;

        }

        /* ---------------------------------------------------------------------------------------------------- */

        div.accordion-content {
          position: relative;
          display: block;
          width: 100%;
          height: auto;
          margin: 0px;
          padding: 0px;
          background-color: transparent;


          .accordion-content-body{
            width: 100%;
            padding-top: 5px;
            padding-bottom: 20px;

            p {
              margin: 0;
            }

            ul {
              display: inline-block;
              margin-top: 50px;
              margin-bottom: 35px;
            }
          }

        }

      }

    }


    ul.accordion-list {

        li {

          label {

            color: $wl-color-blue-dark;

            &.lableOff{
                transition: $transition;
                &::after {
                content: url('/assets/images/icons/arrow_accordion.svg');
                height: 24px;
                width: 24px;
                position: absolute;
                @include dynamic-distance($wl-arrow-position-right-min, $wl-arrow-position-right-max, right);
                @include wl-breakpoint(600) {
                  right: 5px;
                }
                @include dynamic-distance($wl-arrow-position-top-min, $wl-arrow-position-top-max, top);
                transform-origin: 50% 50%;
                transform: rotate(0deg);
                transition-duration: 0.6s;
              }

            }

            /* =================== */

            &.lableOn{
                transition: $transition;
                &::after {
                content: url('/assets/images/icons/arrow_accordion.svg');
                height: 24px;
                width: 24px;
                position: absolute;
               @include dynamic-distance($wl-arrow-position-right-min, $wl-arrow-position-right-max, right);
                @include wl-breakpoint(600) {
                  right: 5px;
                }
                @include dynamic-distance(   $wl-arrow-position-top-hover-min,  $wl-arrow-position-top-hover-max, top);
                transform-origin: 50% 50%;
                transform: rotate(90deg);
                transition-duration: 0.6s;
              }

            }

          }

          /* ---------------------------------------------------------------------------------------------------- */

        }

        li{
          &.active {

            label{

              &.lableOff {
                  transition: $transition;
                  &:after {
                    content: url('/assets/images/icons/arrow_accordion.svg');
                    transform: rotate(90deg);
                    transition: $transition;
                    transition-duration: 0.6s;
                    @include dynamic-distance($wl-arrow-position-top-hover-min, $wl-arrow-position-top-hover-max, top);
                    @include dynamic-distance($wl-arrow-position-right-min, $wl-arrow-position-right-max, right);
                    @include wl-breakpoint(600) {
                      right: 5px;
                    }
                  }
              }

              /* =================== */

              &.lableOn{
                &::after {
                  content: url('/assets/images/icons/arrow_accordion.svg');;
                  transform: rotate(0deg);
                  transition: $transition;
                  transition-duration: 0.6s;
                  @include dynamic-distance( $wl-arrow-position-top-min, $wl-arrow-position-top-max, top);
                  @include dynamic-distance($wl-arrow-position-right-min, $wl-arrow-position-right-max, right);
                  @include wl-breakpoint(600) {
                    right: 5px;
                  }
                }
              }

            }
          }
        }


    }


  /**
  DESKTOP *********************************************************************************************************
   */

  ul.accordion-list {
    &.desktop {
      li {

        label {

          &.lableOnOpen {
            transition: $transition;

            &::after {
              content: url('/assets/images/icons/arrow_accordion.svg');
              height: 24px;
              width: 24px;
              position: absolute;
              @include dynamic-distance($wl-arrow-position-right-min, $wl-arrow-position-right-max, right);
              @include wl-breakpoint(600) {
                right: 5px;
              }
              @include dynamic-distance($wl-arrow-position-top-hover-min, $wl-arrow-position-top-hover-max, top);
              transform-origin: 50% 50%;
              transform: rotate(90deg);
              transition-duration: 0.6s;
            }

          }

        }

      }
    }
  }




  }








