footer {
  background-color: $wl-color-blue-dark;

  @include dynamic-distance( 50, 80, padding-top );
  @include dynamic-distance( 50, 80, padding-bottom );

  color: $wl-color-white;

  .foo-container-head{

    @include dynamic-distance( 40, 60, padding-bottom );

    .foo-container-logo{

      grid-row: 1;
      grid-column-start: 2;
      grid-column-end: 12;

      @include wl-breakpoint(500) {
        grid-column-start: 1;
        grid-column-end: 13;
      }

      .foo-logo{
        width: 95px;
        img{
          width: 100%;
        }
      }

    }
  }

  /* =================================================== */

  .foo-container-body{


    .foo-container-1{
      grid-row: 1/6;
      grid-column-start: 2;
      grid-column-end: 6;

      @include wl-breakpoint(1300) {
        grid-row: 1;
        grid-column-end: 12;
        padding-bottom: 40px;
      }

      @include wl-breakpoint(500) {
        grid-column-start: 1;
        grid-column-end: 13;
      }

      @include wl-breakpoint(730) {
        padding-left: 13px;
        padding-right: 13px;
      }

      .claim{
        @include responsive-font(28px, 45px, $h2-font-family, $base-line-height-h2);
      }

    }

    /* =================================================== */

    .foo-container-2{
      grid-row: 1;
      grid-column-start: 6;
      grid-column-end: 9;

      @include wl-breakpoint(1300) {
        grid-row: 2;
        grid-column-start: 2;
        grid-column-end: 6;
      }

      @include wl-breakpoint(950) {
        grid-column-end: 7;
      }

      @include wl-breakpoint(730) {
        grid-row: 3;
        grid-column-start: 2;
        grid-column-end: 12;
        padding-left: 13px;
        padding-right: 13px;
      }

      @include wl-breakpoint(500) {
        grid-column-start: 1;
        grid-column-end: 13;
      }

      padding-top: 5px;

    }

    /* =================================================== */

    .foo-container-4{
      grid-row: 2;
      grid-column-start: 6;
      grid-column-end: 9;

      @include wl-breakpoint(1300) {
        grid-row: 3;
        grid-column-start: 2;
        grid-column-end: 6;
      }
      @include wl-breakpoint(950) {
        grid-column-end: 7;
      }

      @include wl-breakpoint(730) {
        grid-row: 4;
        grid-column-start: 2;
        grid-column-end: 12;
        padding-left: 13px;
        padding-right: 13px;
      }

      @include wl-breakpoint(500) {
        grid-column-start: 1;
        grid-column-end: 13;
      }

      padding-top: 5px;
      @include wl-breakpoint(730) {
        padding-top: 25px;
        padding-bottom: 35px;
      }

      .footer-button{
        padding-top: 0;
        a{
          &.newsletterAbo{
            @include btn($wl-color-blue-dark, $wl-color-white,$wl-color-orange, $wl-color-orange, $wl-color-white, $wl-color-orange)
          }
        }
      }

    }

    /* =================================================== */

    .foo-container-3{
      grid-row: 1;
      grid-column-start: 9;
      grid-column-end: 12;

      @include wl-breakpoint(1300) {
        grid-row: 2;
        grid-column-start: 6;
        grid-column-end: 12;
      }

      @include wl-breakpoint(950) {
        grid-column-start: 7;
      }

      @include wl-breakpoint(730) {
        grid-column-start: 2;
        grid-column-end: 12;
        padding-left: 13px;
        padding-right: 13px;
      }

      @include wl-breakpoint(500) {
        grid-column-start: 1;
        grid-column-end: 13;
      }

      .footer-adresse{
        padding-bottom: 30px;
        @include wl-breakpoint(730) {
          padding-bottom: 20px;
        }
        padding-top: 4px;
      }

    }

    /* =================================================== */

    .foo-container-5{
      grid-row: 2;
      grid-column-start: 9;
      grid-column-end: 12;

      @include wl-breakpoint(1300) {
        grid-row: 3;
        grid-column-start: 6;
        grid-column-end: 12;
      }

      @include wl-breakpoint(950) {
        grid-column-start: 7;
      }

      @include wl-breakpoint(730) {
        grid-row: 5;
        grid-column-start: 2;
        grid-column-end: 12;
        padding-left: 13px;
        padding-right: 13px;
      }

      @include wl-breakpoint(500) {
        grid-column-start: 1;
        grid-column-end: 13;
      }

      .foo-container-socialIcons{

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;

        padding-top: 15px;

        &.socialMedia-icons{

          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          align-content: stretch;
          column-gap: 25px;

          a {
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            position: relative;
            overflow: hidden;
            z-index: 1;
          }

          a:hover {

            .facebookIcn{
              #facebook-fill{
                fill: $wl-color-white;
              }
            }

            .xingIcn{
              #xing-fill-1, #xing-fill-2{
                fill: $wl-color-white;
              }
            }

            .linkedinIcn{
              #linkedin-fill{
                fill: $wl-color-white;
              }
            }

            .youtubeIcn{
              #youtube-fill{
                fill: $wl-color-white;
              }
            }

            .instagramIcn{
              #instagram-fill{
                fill: $wl-color-white;
              }
            }

          }



        }
      }

    }

    /* =================================================== */

    ul {

        margin: 0px;
        padding: 0;
        list-style: none;

          &.footer-liste {
            li{

              margin: 0px 0px 10px 0px;
              padding: 0px;
              list-style-type: none;
              position: relative;
              white-space: nowrap;
              text-decoration: none;
              color: $wl-color-white;


              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: flex-start;
              align-items: stretch;
              align-content: stretch;

              a{
                text-decoration: none;
                color: $wl-color-white;
                cursor: pointer;
              }

            }
          }

    }


  }

}
