#header {
  position: relative;
  width: 100%;
  z-index: 10;
}

header {

  @include dynamic-distance(35, 45, padding-top);

  .wl-header-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }

  .header-body{
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 12;

    @include wl-breakpoint(500) {
      grid-column-start: 1;
      grid-column-end: 13;
    }

    .nav-container{

      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;


      .boxBody{

        color: $wl-color-black;
        @include responsive-font(17px, 20px, $base-font-family-bold, $base-line-height);

        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;


        .boxBodyLeft{

          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center;
          align-content: stretch;

          width: 117px;

          @include wl-breakpoint(1500) {
            width: 100px;
          }

          img{
            @include dynamic-distance(90, 117, width);
            height: auto;
            margin-bottom: 4px;
            @include wl-breakpoint(370) {
              width: 90px;
            }
          }

        }


        .boxBodyRight{
          width: calc(100% - 120px);
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-end;
          align-items: center;
          align-content: stretch;

                .boxMenue{
                  width:calc( 100% - 95px);
                  @include wl-breakpoint(1650) {
                    width:calc( 100% - 75px);
                  }
                  @include wl-breakpoint($breakpoint-navigation) {
                    width:calc( 100% - 175px); // hier kommt der Burger Container dazu
                  }

                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  justify-content: space-between;
                  align-items: center;
                  align-content: stretch;

                      .menueOuter{

                        width: calc( 100% - 210px); // 100% - 190px buttonNavigation -20px Ausgleich center
                        @include wl-breakpoint(700) {
                          width: 100%;
                        }

                        overflow: hidden;
                        @include wl-breakpoint($breakpoint-navigation) {
                          overflow: visible;
                        }

                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: stretch;
                        align-content: stretch;

                        span{

                          &.textMenue{
                            display: none;
                            @include wl-breakpoint($breakpoint-navigation) {
                              display: inline-block;
                            }
                            cursor: pointer;
                            margin-left: 8px;

                            color: $wl-color-black;
                            transition-duration: 0.4s;
                            @include responsive-font(17px, 20px, $base-font-family-bold, $base-line-height);

                            @include wl-breakpoint(1100) {
                              padding-top: 1px;
                            }

                            @include wl-breakpoint(480) {
                              display: none;
                            }

                          }

                        }


                      }

                      .buttonNavigation {

                        width: 190px;

                        &.buttonNavigationDesktop{
                          @include wl-breakpoint(700) {
                            display: none;
                          }
                        }

                        a{

                          margin-top: -2px;
                          text-transform: uppercase;

                          &.buttonHaendlrtFinden{
                              @include btn(transparent, $wl-color-blue-dark,$wl-color-orange, $wl-color-orange, $wl-color-white, $wl-color-orange)
                          }
                        }

                      }

                }


                .boxLanguage {

                  width: 95px;
                  @include wl-breakpoint(1650) {
                    width: 75px;
                  }
                  color: $wl-color-blue;

                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  justify-content: flex-end;
                  align-items: center;
                  align-content: stretch;
                  text-transform: uppercase;

                  a{
                    text-transform: uppercase;
                    color: $wl-color-blue-dark;
                    text-decoration: none;

                    &:hover{
                      color: $wl-color-green;
                      transition: all .4s ease-in-out;
                    }
                  }

                  .trenner{
                    width: 18px;
                    font-size: 1.2em;
                    text-align: center;
                  }

                }


                .menu-toggle-container{
                  display: none;

                  @include wl-breakpoint($breakpoint-navigation) {
                    width: 100px;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    align-items: stretch;
                    align-content: stretch;
                  }

                }


                .menu-toggle-wrapper{
                  width: 70px;
                  margin-right: -17px;
                }

          }


        }


      }


    }

  }







