.jobs-detail {


  .elementJobsDetailBody{

    @include dynamic-distance(130, 250, padding-top);
    @include dynamic-distance(80, 120, padding-bottom);

  }


  .elementContent {

    grid-row:1;
    grid-column-start: 2;
    grid-column-end: 7;

    @include wl-breakpoint(1200) {
      grid-row:2;
      grid-column-start: 2;
      grid-column-end: 12;

      padding-top: 80px;
    }

    @include wl-breakpoint(500) {
      grid-column-start: 1;
      grid-column-end: 13;
    }

  }


  .elementInfo{

    grid-row:1;
    grid-column-start: 7;
    grid-column-end: 12;

    @include wl-breakpoint(1200) {

      grid-column-start: 2;
      grid-column-end: 12;


    }

    @include wl-breakpoint(500) {
      grid-column-start: 1;
      grid-column-end: 13;
    }


          .infoBox{

              border-radius: 30px;
              padding: 40px;
              background-color: $wl-color-bg-teaser;

              @include wl-breakpoint(900) {
                padding: 30px;
              }

              @include wl-breakpoint(600) {
                padding: 25px;
              }

              @include wl-breakpoint(500) {
                padding: 20px;
              }


              .zeile{
                width: 100%;

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: stretch;
                align-content: stretch;

                @include wl-breakpoint(1600) {
                  display: flex;
                  flex-direction: column;
                  flex-wrap: nowrap;
                  justify-content: flex-start;
                  align-items: stretch;
                  align-content: stretch;
                }

                @include wl-breakpoint(1200) {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  justify-content: space-between;
                  align-items: stretch;
                  align-content: stretch;
                }

                @include wl-breakpoint(900) {
                  display: flex;
                  flex-direction: column;
                  flex-wrap: nowrap;
                  justify-content: flex-start;
                  align-items: stretch;
                  align-content: stretch;
                }

                &.zeilenAbstandUnten{
                  padding-bottom: 35px;
                }

                .zeileLinks{
                  width: 45%;
                  @include responsive-font(19px, 23px, $font-family-DINNextLTPro-bold, 1.34);
                  @include wl-breakpoint(1600) {
                    width: 100%;
                    padding-bottom: 6px;
                  }
                  @include wl-breakpoint(1200) {
                    width: 35%;
                    padding-bottom: 0px;
                  }
                  @include wl-breakpoint(900) {
                    width: 100%;
                    padding-bottom: 6px;
                  }
                }

                .zeileRechts{
                  padding-top: 3px;
                  width: 45%;
                  @include responsive-font(15px, 19px, $font-family-DINNextLTPro-bold, 1.34);
                  @include wl-breakpoint(1600) {
                    width: 100%;
                  }
                  @include wl-breakpoint(1200) {
                    width: 55%;
                  }
                  @include wl-breakpoint(900) {
                    width: 100%;
                  }

                  p{
                    margin: 0;
                  }

                }

              }



          }



  }

}


.abstandAbschluss{
  @include dynamic-distance(100, 200,height);
  width: 100%;
}

