.modul-textLinks{

  .modulBg{
    @include wl-breakpoint(900) {
      background-image: url("/assets/images/img/bg-kreise-orange.svg");
      background-repeat: no-repeat;
      background-position: top 0px right 0px;


      background-size: 80px 80px;; //width height


    }

  }

  .textLinks{
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 7;


    min-height: 225px;

    @include wl-breakpoint(1200) {
      grid-column-start: 2;
      grid-column-end: 8;
    }

    @include wl-breakpoint(900) {
      grid-column-start: 2;
      grid-column-end: 12;
    }

    @include wl-breakpoint(500) {
      grid-column-start: 1;
      grid-column-end: 13;
    }

    .textLinksHeadline{
      @include dynamic-distance($min-bottomAbstandHeadline, $max-bottomAbstandHeadline, padding-bottom);
    }

  }

  .kreiseRechts{
    grid-row: 1;
    grid-column-start: 8;
    grid-column-end: 12;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: stretch;


    .kreise{
      width: 212px;
          svg{
            width: 100%;
          }
    }


    @include wl-breakpoint(900) {
      display: none;
    }


  }


}