.modul-formularAntwort{
    .modul-formular-antwor-body{

      grid-column-start: 2;
      grid-column-end: 12;

      @include wl-breakpoint(500) {
        grid-column-start: 1;
        grid-column-end: 13;
      }

    }
}