/* lightboxed *********************************************************** */

.lightboxed {
  cursor: pointer;
}

div#lightboxed--cache {
  position: fixed;
  left: -99999999px;
}

div#lightboxed--container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9001;
}

div#lightboxed--stage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div#lightboxed--content {
  position: absolute;
  top: 0;
  left: 0;
}

div#lightboxed--content .lightboxed--frame {
  position: absolute;
  top: 0;
  left: 0;
}

div#lightboxed--content .lightboxed--frame img, div#lightboxed--content .lightboxed--frame iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 0;
}

div#lightboxed--content .lightboxed--frame .lightboxed--caption {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  //background: #000;
  //background: rgba(0, 0, 0, 0.9);
  color: #fff !important;
  @include responsive-font($base-font-size-min, $base-font-size-max, $base-font-family, $base-line-height);
  font-weight:$font-weight-normal;
}

div#lightboxed--thumbs {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

div#lightboxed--thumbs .lightboxed--thumb {
  float: left;
  overflow: hidden;
  border-radius: 2px;
  cursor: pointer;
}

div#lightboxed--thumbs .lightboxed--thumb .lightboxed--thumb_border {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  background: rgba(255, 255, 255, 0.4);
  transition: 500ms background;
}

div#lightboxed--thumbs .lightboxed--thumb.lightboxed--active .lightboxed--thumb_border {
  background: rgba(255, 255, 255, 0.7);
  transition: 500ms background;
}

div#lightboxed--thumbs .lightboxed--thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div#lightboxed--bttn_close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
  background-image: url(/assets/images/icons/controls.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 100%;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid $wl-color-blue-dark-soft;
}

div#lightboxed--bttn_next {
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
  background-image: url(/assets/images/icons/controls.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50%;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 1px solid $wl-color-blue-dark-soft;
}

div#lightboxed--bttn_prev {
  display: none;
  position: absolute;
  top: 50%;
  left: 10px;
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
  background-image: url(/assets/images/icons/controls.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 0%;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 1px solid $wl-color-blue-dark-soft;
}

.lightboxed--active{
  img{
    width: auto;
    max-width: auto;
  }
}

/** ********************************************************** */






.modul-bilderMitZoom{



  .article-container{
    a{
      cursor: zoom-in;
      img{
        cursor: zoom-in;
      }

    }
  }


  /** **********************************************************
Style Lightbox
*/


/*
  img{
    &#flb-close{
      width: 25px;
      border-left: 5px solid transparent;

      @include wl-breakpoint(560){
        width: 25px;
        border-left: 0px;
      }

    }
  }


  div{

    &#flb-lightbox-text{

      @include responsive-font($base-font-size-min, $base-font-size-max, $base-font-family, $base-line-height);


      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;

      span{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
      }

      output{
        width: 100%;
        display: block;
      }

      a{

        &#flb-next-pic{
          svg{
            margin-left: 10px;

            #flb-next-pic-path{
              &.flb-next-pic-fill{
                fill:$wl-color-orange;
              }
            }

          }
        }
      }

      a{

        &#flb-back-pic{
          svg{
            margin-right: 10px;

            #flb-back-pic-path{
              &.lfb-back-pic-fill{
                fill:$wl-color-orange;
              }
            }

          }

        }
      }

    }

  }

 */




      .bilderMitZoomHeadline{
        grid-row: 1;
        grid-column-start: 2;
        grid-column-end: 12;

        @include wl-breakpoint(500){
          grid-column-start: 1;
          grid-column-end: 13;
        }

        @include dynamic-distance($min-bottomAbstandHeadline, $max-bottomAbstandHeadline, padding-bottom);

      }


      .bilderMitZoom{

            grid-row: 1;
            grid-column-start: 2;
            grid-column-end: 12;

            @include wl-breakpoint(500){
              grid-column-start: 1;
              grid-column-end: 13;
            }

           .article-container{
            width: 100%;

            display:  grid;
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Umbrechen, sobald die Box 180 Pixel Breite hat */

            @include wl-breakpoint(1191){
              grid-template-columns: repeat(auto-fit, minmax(261px, 1fr)); /* Umbrechen, sobald die Box 180 Pixel Breite hat */
            }

            @include wl-breakpoint(776){
              grid-template-columns: repeat(auto-fit, minmax(166px, 1fr)); /* Umbrechen, sobald die Box 180 Pixel Breite hat */
            }

            @include wl-breakpoint(509){
              grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); /* Umbrechen, sobald die Box 180 Pixel Breite hat */
            }

            @include wl-breakpoint(450){
              grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Umbrechen, sobald die Box 180 Pixel Breite hat */
            }

            justify-content:center;

            @include dynamic-distance(15, 65, column-gap);
            @include dynamic-distance(40, 60, row-gap);

          }

           a {

              position: relative;
              text-decoration: none;
              display: inline-block;

              background-color: $wl-color-bg-teaser;
              border-radius: 30px;

              img{
                border-radius: 30px;
              }

            }

      }


}