
.modul-accordionZweiSpalten {

  .grid-container{

    &.bgKreis{
      background-image: url("/assets/images/img/bg-kreis-orange-einzeln.svg");
      background-repeat: no-repeat;

      background-position-y: 0px;
      background-position-x: 0px;

      @include wl-breakpoint(900) {
        @include dynamic-background-size(120, 440, height);
        @include dynamic-background-size(120, 440, width);
      }
    }

  }

  .accordionZweiSpaltenHeadline{

    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 12;

    @include wl-breakpoint(500){
      grid-column-start: 1;
      grid-column-end: 13;
    }

    @include dynamic-distance($min-bottomAbstandHeadline, $max-bottomAbstandHeadline, padding-bottom);


    &.bgRightKreisAbstandTop{
      padding-top: 40px;
    }


    }


  .accordionZweiSpalten {

    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 12;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

    margin-bottom: 15px;

    @include wl-breakpoint(500){
      grid-column-start: 1;
      grid-column-end: 13;
    }

    @include wl-breakpoint(900) {
      flex-direction: column;
    }


    .accordionContent{
      margin-top: 0!important;
    }

    /**
    ============================ Accordion Body ============================
    */

    .articleContainerLinks {
      width: 46%;
      @include wl-breakpoint(900) {
        width: 100%;
      }
    }

    .articleContainerRechts {
      width: 46%;
      @include wl-breakpoint(900) {
        width: 100%;
      }
    }


  }

}







