.modul-sliderTextBildTeaser{

  .grid-container{

        &.bgRightKreis{

          background-image: url("/assets/images/img/bg-kreise-orange.svg");
          background-repeat: no-repeat;

          background-position: top 0px right 0px;

          @include wl-breakpoint($page-width) {
            background-position: top 0px right 0;
          }

          background-size: 160px  160px;

          @include wl-breakpoint(1200) {
            @include dynamic-background-size(120, 260, height);
            @include dynamic-background-size(120, 260, width);
          }

          @include wl-breakpoint(500) {
            background-size: 118px 118px;
          }

        }

  }

  .sliderInfoTeaserHeadline{

    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 12;

    @include wl-breakpoint(500){
      grid-column-start: 1;
      grid-column-end: 13;
    }

    @include dynamic-distance($min-bottomAbstandHeadline, $max-bottomAbstandHeadline, padding-bottom);

    &.bgRightKreisAbstandTop{
      padding-top: 40px;
    }

  }


  .artikelSliderContainer{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 13;

    padding-top: 80px;

    p{
      pading: 0!important;
      margin: 0!important;
    }

    @include dynamic-distance-negativ(10, 30, margin-left);
    @include dynamic-distance-negativ(10, 30, margin-right);

          .artikelSliderBody{
              position: relative;
              height: 100%;

              .slick-track{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: stretch;
                align-content: stretch;
              }

              .item{

                text-decoration: none;

                display: inline-block;
                position: relative;
                height: 100%;
                @include dynamic-distance(10, 30, margin-left);
                @include dynamic-distance(10, 30, margin-right);
                cursor: pointer;

                p{
                  margin: 0;
                  @include wl-breakpoint(500) {
                    line-height: 1.3;
                  }
                }

                .artikelSliderItemImage {
                  width: 100%;

                  display: flex;
                  flex-direction: column;
                  flex-wrap: nowrap;
                  justify-content: center;
                  align-items: flex-start;
                  align-content: stretch;

                  @include dynamic-distance(15, 27, padding-bottom);

                  .itemImg{

                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: flex-start;
                    align-content: stretch;

                    max-width: 220px;

                    img{
                     width: 100%;
                    }

                  }

                }

                .artikelSliderItemIcon {
                  width: 100%;

                  display: flex;
                  flex-direction: column;
                  flex-wrap: nowrap;
                  justify-content: center;
                  align-items: flex-start;
                  align-content: stretch;

                  @include dynamic-distance(15, 27, padding-bottom);

                  .itemIcon{

                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    align-content: stretch;

                    max-width: 220px;
                    width: 220px;
                    height: 107px;

                    img{
                     width: auto;
                     max-height: 107px;
                    }

                  }

                }



                .artikelSliderItemText{
                  width: 100%;

                  .sliderItemHeadline{
                    @include responsive-font(18px, 23px, $font-family-DINNextLTPro-bold, 1.34);
                    padding-top: 10px;
                    @include dynamic-distance(20, 30, padding-bottom);
                  }

                  .sliderItemText{
                    a{
                      &.btn{
                        @include btn($wl-color-white, $wl-color-blue-dark, $wl-color-green, $wl-color-green, $wl-color-white, $wl-color-green)
                      }
                    }
                  }

                }


              }

          }

  }


  .sliderWrapper{

    height: 1px;
    width: 100%;

    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 13;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

    .blendeLinks{
      display: inline-block;
      position: relative;
      z-index: 100;
      @include dynamic-distance(15, 30, width);
      @include dynamic-distance-negativ(17, 36, margin-left);
      background-color: $wl-color-white;
    }

    .blendeRechts{
      display: inline-block;
      position: relative;
      z-index: 100;
      @include dynamic-distance(15, 30, width);
      @include dynamic-distance-negativ(17, 36, margin-right);
      background-color: $wl-color-white;
    }

  }

}