.displayShow{
  display: flex;
}

.displayHide{
  display: none;
}

.menu-toggle {

  width: 70px;
  height: 70px;
  position: relative;
  right: 0;
  cursor: pointer;
  z-index: 1;

  span {
    position: absolute;
    display: block;
    height: 2px;
    border-radius: 5px;

    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


}

.menu-open{

  span{
    background: $wl-color-black;
  }

  &:hover{
    span{
      background: $wl-color-green;
    }
  }

  .menu-toggle span:nth-child(1) {
    top: 35%;
  }

  .menu-toggle span:nth-child(2) {
    top: 50%;
  }

  .menu-toggle span:nth-child(3) {
    top: 65%;
  }
}


.menu-close{

  padding-bottom: 40px;

  .menu-toggle{
    background: $wl-color-blue-dark;

    &:hover{

      span:nth-child(1) {
        background: $wl-color-green;
      }
      span:nth-child(3) {
        background: $wl-color-green;
      }

    }

  }

  .menu-toggle span:nth-child(1) {
    background:$wl-color-white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .menu-toggle span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle span:nth-child(3) {
    background:$wl-color-white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

}


.menu-toggle-wrapper{
  &.active{
    .menu-toggle{
      opacity: 0;
    }
  }
}

.menu-close{
  display: none;
}



/* MOBILE ANSICHT */
@include wl-breakpoint($breakpoint-navigation) {

  .menu-close{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;
  }

  .menu-active {
    width: 300px;
    opacity: 1;
    transition: all 0.2s linear;
  }


}