.modul-haendlerFilter{

  .pagination-container{
    padding-top: 80px;
  }

  .pagination{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;


    .pagination-arrow-counter {

      a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;

        margin-bottom: 7px;
        margin-top: 7px;
        margin-right: 4px;
        margin-left: 4px;

        cursor: pointer;
      }

      a{

        &.btnPager{
          color: $wl-color-blue-dark-soft;
          width: 36px;
          height: 36px;
          transition: all 1s;
          text-decoration: none;

          &:hover{
            color: $wl-color-green;
            transition: all 1s;
          }
        }

        &.btnPager{

            &.active{
              color: $wl-color-blue-dark;
              width: 36px;
              height: 36px;
              text-align: center;
              border-radius: 18px;
              transition: all 1s;
              text-decoration: none;

              cursor: default;
            }

        }

      }

    }

    .pagination-arrow-counter-inner{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      align-content: stretch;
    }

  }


  span{
    &.links{
      &.disabled{
        opacity: 0.5;
      }
    }
  }

  span{
    &.rechts{
      &.disabled{
        opacity: 0.5;
      }
    }
  }

  .pagination-arrow-right{
    white-space: nowrap;
    padding-left: 15px;
    margin-top: 14px;
    margin-left: 12px;

    svg{
      &#pagination-arrow-right{

        cursor: pointer;

        &:hover{
          path{
            &#pagination-arrow-right-fill {
              fill: $wl-color-green;
            }
          }
        }

      }
    }
  }

  .pagination-arrow-left{
    white-space: nowrap;
    padding-right: 15px;
    margin-top: 14px;
    margin-right: 12px;

    svg{
      &#pagination-arrow-left{

            cursor: pointer;

            &:hover{
              path{
                &#pagination-arrow-left-fill {
                  fill: $wl-color-green;
                }
              }
            }

        }
    }


  }


}
