.intromodul-default{

  /* ===================================================================== */

  .intromodulAbstandTop{
    @include dynamic-distance(40, 70, padding-top);
  }

  /* ===================================================================== */

  .containerText-head{
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 6;

    @include wl-breakpoint(1200) {
      grid-column-end: 7;
    }

    @include wl-breakpoint(1150) {
      grid-row: 2;
    }

    @include wl-breakpoint(900) {
      grid-column-end: 12;
    }


    @include wl-breakpoint(500) {
      grid-column-start: 1;
      grid-column-end: 13;
    }


    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;


    @include wl-breakpoint(1150){
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: stretch;
      align-content: stretch;
    }

  }

  /* ===================================================================== */

  .containerText-headline{
    width: 100%;
    hyphens: none;
  }

  /* ===================================================================== */

  .containerText-claim{

    width: 100%;
    @include dynamic-distance(15, 30, padding-bottom);
    @include responsive-font(15px, 17px, $base-font-family, $base-line-height);

    span{
      &.blue{
        color: $wl-color-blue;
      }

      &.green{
        color: $wl-color-green;
      }

      &.spacer{
        color: $wl-color-blue-dark;
      }
    }


  }

  /* ===================================================================== */


  .containerText-body {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 7;


    @include wl-breakpoint(1200) {
      grid-column-end: 8;
    }

    @include wl-breakpoint(1150) {
      grid-row: 3;
      grid-column-end: 7;
    }

    @include wl-breakpoint(900) {
      grid-row: 4;
      grid-column-start: 2;
      grid-column-end: 12;
    }

    @include wl-breakpoint(1150) {
      grid-column-start: 2;
      grid-column-end: 12;
    }

    @include wl-breakpoint(500) {
      grid-column-start: 1;
      grid-column-end: 13;
    }

    @include dynamic-distance(30, 50, padding-top);


    .buttonIntro{
      @include dynamic-distance(25, 40, padding-top);

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;

      column-gap: 30px;
      row-gap: 20px;

      // btn($bgColor, $textColor, $borderColor, $bgColorHover, $textColorHover, $borderColorHover)

      .buttonIntro1{
        a{
          &.btn{
            @include btn($wl-color-blue, $wl-color-white, $wl-color-blue, $wl-color-white, $wl-color-blue, $wl-color-blue)
          }
        }
      }
      .buttonIntro2{
        a{
          &.btn{
            @include btn($wl-color-white, $wl-color-blue-dark, $wl-color-green, $wl-color-green, $wl-color-white, $wl-color-green)
          }
        }
      }

    }

  }

  /* ===================================================================== */

  .containerBild {
    grid-row: 1/4;
    grid-column-start: 7;
    grid-column-end: 12;

    @include wl-breakpoint(1200) {
      grid-column-start: 8;
      grid-column-end: 12;
    }

    @include wl-breakpoint(1150) {
      grid-row: 1;
      grid-column-start: 2;
      grid-column-end: 7;
    }

    @include wl-breakpoint(900) {
      grid-row: 3;
      grid-column-start: 2;
      grid-column-end: 12;
      @include dynamic-distance(30, 50, padding-top);
    }

    @include wl-breakpoint(500) {
      grid-column-start: 1;
      grid-column-end: 13;
    }

    img{
      width: 100%;
      border-radius: 30px;
      border: 1px solid #f6f6f6;
    }

    .introbildUnterschrift{
      color: $wl-color-blue-dark-soft;
      text-align: right;
      padding-top: 15px;
      font-size: 0.9em;

      @include wl-breakpoint(1150) {
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
      }
    }

  }

  /* ===================================================================== */

}
