.element-header{

  .intromodul-default{

    margin-top: 100px;

    grid-column-start: 2;
    grid-column-end: 12;

    @include wl-breakpoint(900) {
      grid-column-start: 1;
      grid-column-end: 13;
    }

    .containerText-headlineH1{

    }

    .containerText-body{
      margin-top: 50px;
    }


  }

}