// Mixin
@import "../core/mixin";

// Variables
@import "../core/vars";

.modul-sliderInfoTeaser, .modul-sliderTextBildTeaser, .modul-sliderHistory, .modul-sliderTeam, .modul-bildAccordion, .modul-accordionBild{

    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }

    .slick-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;

        *:focus {
            outline: none;
        }

        &.dragging {
            cursor: pointer;
            cursor: hand;
        }
    }

    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .slick-track {
        position: relative;
        left: 0;
        top: 0;
        display: block;

        &:before,
        &:after {
            content: "";
            display: table;
        }

        &:after {
            clear: both;
        }

        .slick-loading & {
            visibility: hidden;
        }
    }

    .slick-slide {
        float: left;
        height: 100%;
        min-height: 1px;

        [dir="rtl"] & {
            float: right;
        }

        img {
            display: block;
        }

        &.slick-loading img {
            display: none;
        }

        display: none;

        &.dragging img {
            pointer-events: none;
        }

        .slick-initialized & {
            display: block;
        }

        .slick-loading & {
            visibility: hidden;
        }

        .slick-vertical & {
            display: block;
            height: auto;
            border: 1px solid transparent;
        }
    }

    .slick-arrow.slick-hidden {
        display: none;
    }

@charset "UTF-8";

    // Default Variables
    $slick-font-path: "/assets/slick/" !default;
    $slick-font-family: "slick" !default;
    $slick-loader-path: "/assets/slick/" !default;
    $slick-arrow-color: #ffffff !default;
    $slick-dot-color: #000000 !default;
    $slick-dot-color-active: $slick-dot-color !default;
    $slick-prev-character: "" !default;
    $slick-next-character: "" !default;
    $slick-dot-character: "\2022" !default;
    $slick-dot-size: 6px !default;
    $slick-opacity-default: 1 !default;
    $slick-opacity-on-hover: 1 !default;
    $slick-opacity-not-active: 1 !default;

    @function slick-image-url($url) {
        @if function-exists(image-url) {
            @return image-url($url);
        } @else {
            @return url($slick-loader-path + $url);
        }
    }

    @function slick-font-url($url) {
        @if function-exists(font-url) {
            @return font-url($url);
        } @else {
            @return url($slick-font-path + $url);
        }
    }

    /* Slider */

    .slick-list {
        .slick-loading & {
            background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
        }
    }

    /* Icons */
    @if $slick-font-family == "slick" {
        @font-face {
            font-family: "slick";
            src: slick-font-url("fonts/slick.eot");
            src: slick-font-url("fonts/slick.eot?#iefix") format("embedded-opentype"), slick-font-url("fonts/slick.woff") format("woff"), slick-font-url("fonts/slick.ttf") format("truetype"), slick-font-url("fonts/slick.svg#slick") format("svg");
            font-weight: normal;
            font-style: normal;
        }
    }

    /* Arrows */

    .slick-prev,
    .slick-next {
        position: absolute;
        //z-index: 100;
        display: block;

        height: 43px;
        width: 25px;

        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        background: transparent;
        color: transparent;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding: 0;
        border: none;
        outline: none;

    }

    button{

        &.slick-prev {

            background-image: url('/assets/images/icons/arrow-prev.png');
            background-position: left 0px center;
            background-repeat: no-repeat;

            //@include dynamic-distance(20, 40, left);
            //@include dynamic-distance-negativ(50, 70, top);

        }

        &.slick-next {

            background-image: url('/assets/images/icons/arrow-next.png');
            background-position: left 0px center;
            background-repeat: no-repeat;

            //@include dynamic-distance(80, 100, left);
            //@include dynamic-distance-negativ(50, 70, top);

        }

    }


    /* Dots */

    .slick-dotted.slick-slider {
        margin-bottom: 30px;
    }

    .slick-dots {
        position: absolute;
        bottom: -25px;
        list-style: none;
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            position: relative;
            display: inline-block;
            height: 20px;
            width: 20px;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;

            button {
                height: 14px;
                width: 14px;
                border-radius: 14px;
                border: 2px solid #fff;
                margin-top: -35px;

                background: transparent;
                display: block;

                outline: none;
                line-height: 0px;
                font-size: 0px;
                color: transparent;
                padding: 5px;
                cursor: pointer;

                &:hover, &:focus {
                    outline: none;

                    &:before {
                        opacity: $slick-opacity-on-hover;
                    }
                }

                &:before {
                    position: absolute;
                    top: -35px;
                    left: 0;
                    content: $slick-dot-character;
                    width: 14px;
                    height: 14px;
                    border-radius: 14px;
                    border: 2px solid #ffffff;
                    background-color: #ffffff;
                    opacity: $slick-opacity-not-active;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }

            &.slick-active button:before {
                color: $slick-dot-color-active;
                opacity: $slick-opacity-default;
            }
        }
    }

    .slick-slide {
        // background-color:red;
    }

}


.modul-sliderInfoTeaser{
    button{

        &.slick-prev {
            @include dynamic-distance(20, 40, left);
            @include dynamic-distance-negativ(50, 70, top);
        }

        &.slick-next {
            @include dynamic-distance(80, 100, left);
            @include dynamic-distance-negativ(50, 70, top);
        }

    }
}


.modul-sliderHistory, .modul-sliderTeam{
    button{

        &.slick-prev {
            left: 0;
            @include dynamic-distance-negativ(15, 40, top);
        }

        &.slick-next {
            left: 60px;
            @include dynamic-distance-negativ(15, 40, top);
        }

    }
}


.modul-sliderTextBildTeaser{
    button{

        &.slick-prev {
            @include dynamic-distance(47, 173, left);
            @include wl-breakpoint(500){
                @include dynamic-distance(20, 40, left);
            }
            @include dynamic-distance-negativ(50, 70, top);
        }

        &.slick-next {
            @include dynamic-distance-sliderButtonNext(47, 173, left);
            @include wl-breakpoint(500){
                @include dynamic-distance(80, 100, left);
            }
            @include dynamic-distance-negativ(50, 70, top);
        }

    }
}

.modul-bildAccordion, .modul-accordionBild{
    button{
        display: none!important;

        &.slick-prev {
            display: none!important;
        }

        &.slick-next {
            display: none!important;
        }

    }
}