// Import SCSS-Files

/**
*  A C H T U N G !  Block-Reihenfolge nicht ändern!
*/

/***** (1) **********************************
Fonts
*/
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Overpass:wght@300&display=swap');

// Fonts vom eigenen Webspace
/* =================================================== */

$font-name-poppinsRegular: "poppins-regular";
$font-family-poppinsRegular: $font-name-poppinsRegular, Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", Arial, sans-serif;
@include font-face($font-name-poppinsRegular, 'poppins/poppins-regular', '' , '');
/* =================================================== */
$font-name-poppinsMedium: "poppins-medium";
$font-family-poppinsMedium: $font-name-poppinsMedium, Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", Arial, sans-serif;
@include font-face($font-name-poppinsMedium, 'poppins/poppins-medium', '' , '');
/* =================================================== */
$font-name-poppinsSemibold: "poppins-semibold";
$font-family-poppinsSemibold: $font-name-poppinsSemibold, Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", Arial, sans-serif;
@include font-face($font-name-poppinsSemibold, 'poppins/poppins-semibold', '' , '');
/* =================================================== */


$font-name-DINNextLTPro-bold: "DINNextLTPro-bold";
$font-family-DINNextLTPro-bold: $font-name-DINNextLTPro-bold, Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", Arial, sans-serif;
@include font-face($font-name-DINNextLTPro-bold, 'DINNextLTPr/DINNextLTPro-Bold', '' , '');
/* =================================================== */


$base-font-family: $font-family-poppinsRegular;
$base-font-family-bold: $font-family-poppinsSemibold;
$h1-font-family: $font-family-DINNextLTPro-bold;
$h2-font-family: $font-family-DINNextLTPro-bold;
$h3-font-family: $font-family-DINNextLTPro-bold;
$h4-font-family: $font-family-DINNextLTPro-bold;
$h5-font-family: $font-family-DINNextLTPro-bold;


/***** (2) **********************************
Farben der Website
*/
$wl-color-white: #fff;
$wl-bgcolor-html: $wl-color-white;
$wl-bgcolor-body: $wl-color-white;
$wl-color-black: #000000;
$wl-color-blue: #1372D0;
$wl-color-blue-dark: #001C57;
$wl-color-blue-dark-soft: #98a4bc;;
$wl-color-green: #31C390;
$wl-color-bg-teaser: #f3f8fd;


// Farben Starter
$wl-color-grey: #eee6d9;
$wl-color-red: red;
$wl-color-orange: #EC8500;


/***** (3) **********************************
Einstellungen
*/

// Wrapper-Breite der Website
$page-width: 1920;
/* =================================================== */
$telefonnummer-breakpoint: 900;
/* =================================================== */
// Geschwindigkeit der Transitions | Für alle Animationen
$transition: all 0.15s ease-in-out;
/* =================================================== */
// Config allgemein
$breakpoint-navigation: 1500;
$base-background-color: $wl-bgcolor-html;
/* =================================================== */

$wl-form-font-family: $base-font-family;
$wl-form-color-fields: $wl-color-white;
$wl-form-color-text: $wl-color-blue-dark;
$wl-form-color-error: red;
/* --------------------------------------------------- */
$wl-input-border-color: $wl-color-grey;
$wl-checkmark-border-color: $wl-color-grey;
/* --------------------------------------------------- */
$wl-input-border-radius: 16px;
/* --------------------------------------------------- */
$wl-input-padding-right: 30px;
$wl-input-padding-left: 30px;
$wl-input-padding-top: 20px;
$wl-input-padding-bottom: 20px;



/* =================================================== */
// Default Font Attribute
// Default Font scale bounding for responsive Font in mixin responsive-font
/* =================================================== */


$min-bottomAbstandHeadline: 30;
$max-bottomAbstandHeadline: 45;
/* =================================================== */
$base-font-size-min: 16px;
$base-font-size-max: 18px;
/* =================================================== */
$font-weight-normal:300;
$font-weight-strong:700;
/* =================================================== */
$navigation-font-family: $base-font-family;
/* =================================================== */
//$base-button-line-height: 1.3;
$base-line-height: 1.5;
$base-line-height-h1: 1.23;
$base-line-height-h2: 1.23;
$base-line-height-h3: 1.23;
$base-line-height-h4: 1.23;
/* =================================================== */
$base-font-color: $wl-color-blue-dark;






