<style>
    .layoutcontainer{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }
</style>
<div class="layoutcontainer">
    <div>
        <img src="/assets/images/backend/layout-{{ element.type.handle }}.png" />
    </div>
</div>
