<style>

    .layoutcontainer-twitter{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border: 1px solid #c9ccd0;
        box-shadow: 0 2px 6px 0 rgb(35 36 46 / 8%);
        border-radius: 2px;
        background-color: #e6ecf0;
    }

</style>

<div class="layoutcontainer-twitter">
    <svg xmlns="http://www.w3.org/2000/svg" width="35.397" height="32" viewBox="0 0 35.397 32">
        <path id="fields-moduleSharedSocialMatrix-blocks-25406-fields-x-neu" d="M27.881,0h5.432L21.448,13.555,35.4,32H24.468l-8.55-11.192L6.121,32H.706L13.391,17.493,0,0H11.208l7.729,10.224Zm-1.9,28.751h3L9.567,3.085H6.334Z"></path>
    </svg>
</div>
