<style>
    .trenner{
        width: 100%;
        height: 51px;
        background-image: url("/assets/images/backend/trennlinie.png");
        background-repeat: repeat-x;
    }
</style>
<div class="trenner"></div>
